@import './../../colors';

#todos {
    min-height: 45vh;
    max-height: 50vh;
    list-style-type: circle;

    li.active {
      font-weight: bold;
      transform: scale(1.2, 1.2) translateX(10%);
    }

    li {
      transition: transform 0.2s ease-in;
      width: 80%;
      .x-icon{
          font-size: 1.6rem;
      }
    }
  }

  .text-underline{
      text-decoration: underline;
  }

.randomize-btn{
    background-color: $green;
    border-color: $green--muted;
}

#add-item-btn{
    background-color: $pink;
    border-color: $pink--muted;
}

#mustache-container{
    animation: 7s twitch ease-in-out infinite;
}

#info-icon {
    font-size: 2rem;
  }

.clear-btn{
    background: transparent;
    border: 0;
}

.spin{
    animation: .75s spin ease-in;
}

@keyframes spin {
	0% {
		transform: rotateZ(0);
	}
	70% {
		transform: rotateZ(390deg);
    }
    80%{
        transform: rotateZ(350deg);
    }
    85%{
        transform: rotateZ(370deg);
    }
    90%{
        transform: rotateZ(355deg);
    }
    100%{
		transform: rotateZ(360deg);
    }
}


@keyframes twitch {
	0% {
		transform: rotateZ(0);
	}
	70% {
		transform: rotateZ(0);
    }
    80%{
        transform: rotateZ(-5deg);
    }
    85%{
        transform: rotateZ(3deg);
    }
    90%{
        transform: rotateZ(-4deg);
    }
    100%{
		transform: rotateZ(0deg);
    }
}