li.active{
  font-weight: bold;
  transform: scale(1.2, 1.2) translateX(10%);
}

li{
  transition: transform .2s ease-in;
}

ul{
  min-height: 50vh;
  max-height: 50vh;
  overflow-y: scroll;
}

.footer{
  position: relative;
  bottom: 0;
}
